{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: url(https://1.bp.blogspot.com/-5l3gHyR88Lg/VegBiytfhAI/AAAAAAAADLE/ATfvlXWfOnc/s1600/1.gif);
    background-size: cover;
    background-repeat: cover;
    background-position: center;
}