{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: url(https://w.forfun.com/fetch/17/176c0b56597c3c7a3867b7049fdf7469.jpeg?w=1000&r=0.5625);
    background-size: cover;h
    background-repeat: cover;
    background-position: center;
}